#adminNavbar{
    overflow: hidden;
    background-color: rgb(233, 34, 100);
    position: fixed;
    top: 0;
    width: 100%;
    height:50px;
    left: 0;
    color: white;
    display: flex;
  }

  #admin-logo{
      position: relative;
      display: flex;
      padding: 0px 90px 0px 30px;
      font-size: 20px;
      margin-top: 10px;
  }

  #adminDashboardLink{
      color: white;
      font-size: 18px;
      text-decoration: none;
      padding: 10px;
      position: relative;
      display: flex;
      border-radius: 5px;
  }

  #adminProfileLink{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: flex;
    border-radius: 5px;
}

#adminBookingLink{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    position: relative;
    display: flex;
    border-radius: 5px;
}

  #adminLogoutButton{
      margin-left: 600px;
      color: white;
      font-size: 18px;
      text-decoration: none;
      padding: 10px;
      position: relative;
      display: inline-flex;
      border-radius: 5px;
  }

  #adminDashboardLink:hover{
      background-color: rgb(260, 20, 90);
      color: black;
  }

  #adminProfileLink:hover{
    background-color: rgb(260, 20, 90);
    color: black;
}

#adminBookingLink:hover{
    background-color: rgb(260, 20, 90);
    color: black;
}
  
  #adminLogoutButton:hover{
      background-color: rgb(260, 20, 90);
      color: black;
  }
  
 
